<style>


      .print_view .p-title {
        font-size: 20px;
        font-weight: 600;
        color: #000;
    }
    
    .print_view .letter-block {
        margin-bottom: 30px;
    }
    
    .print_view .letter-block p {
        margin: 0 0 2px;
        /*font-size: 13px;*/
    }
    .print_view .col-xs-1,
    .print_view .col-sm-1,
    .print_view .col-md-1,
    .print_view .col-lg-1,
    .print_view .col-xs-2,
    .print_view .col-sm-2,
    .print_view .col-md-2,
    .print_view .col-lg-2,
    .print_view .col-xs-3,
    .print_view .col-sm-3,
    .print_view .col-md-3,
    .print_view .col-lg-3,
    .print_view .col-xs-4,
    .print_view .col-sm-4,
    .print_view .col-md-4,
    .print_view .col-lg-4,
    .print_view .col-xs-5,
    .print_view .col-sm-5,
    .print_view .col-md-5,
    .print_view .col-lg-5,
    .print_view .col-xs-6,
    .print_view .col-sm-6,
    .print_view .col-md-6,
    .print_view .col-lg-6,
    .print_view .col-xs-7,
    .print_view .col-sm-7,
    .print_view .col-md-7,
    .print_view .col-lg-7,
    .print_view .col-xs-8,
    .print_view .col-sm-8,
    .print_view .col-md-8,
    .print_view .col-lg-8,
    .print_view .col-xs-9,
    .print_view .col-sm-9,
    .print_view .col-md-9,
    .print_view .col-lg-9,
    .print_view .col-xs-10,
    .print_view .col-sm-10,
    .print_view .col-md-10,
    .print_view .col-lg-10,
    .print_view .col-xs-11,
    .print_view .col-sm-11,
    .print_view .col-md-11,
    .print_view .col-lg-11,
    .print_view .col-xs-12,
    .print_view .col-sm-12,
    .print_view .col-md-12,
    .print_view .col-lg-12 {
        padding-right: 0px;
        padding-left: 0px;
    }
 .print_view .table h3{
color:#43B3BF;
}
.print_view h3,.h3{
    font-size: 14px;
}
  .print_view .text{
    margin-top: 85px;
    padding-top:50px;}
    .print_view .text h3{
  color:#43B3BF;
    font-weight: bold;  
   
}
.print_view .row .txt p{
font-size: 14px;}
.print_view .text p{
    font-size: 11px;
    padding-left:45px;
}
    .print_view table,
    .print_view td,
    .print_view th {
        border-collapse: collapse;
        border-color: #4FD3D9 !important;
        text-align: right;
    }


    .print_view th {
        background-color: #43B3BF !important;
    }
    
    .print_view .row {
        margin-right: 0px;
        margin-left: 0px;
    }
    
    .print_view .print-format .table th {
        background-color: #43B3BF !important;
        font-weight: 400;
    }
    
    .print_view .col-print-4 {
        width: 33.3333333%;
        float: left;
    }
    .print_view .print-format{
        font-size: 11px;
    }
    .print_view .pulled {
        margin-top: -21px !important;
    }
    
    .print_view .col-print-offset-8 {
        float: right;
        width: 33.33333333%;
    }
    .print_view .col-print-offset-6 {
        float: right;
        width: 50%;
    }
    .print_view .bordered{
      border-top: 1px solid #43B3BF;
      font-style: italic;
      font-size: 12px;
      color: #43B3BF;
    }
    .print_view .table tr td:nth-child(2){
        width: 10%;
        text-align-last: justify;
    }


    .print_view .p-title {
        font-size: 20px;
        font-weight: 600;
        color: #000;
    }
    

 .print_view .col-print-4{
        width: 33.3333333%;
        float: left;
    }
     .print_view .col-print-6{
        width: 50%;
        float: left;
    }

     .print_view .col-print-3{
        width: 25%;
        float: left;
    }
.print_view .print-format{
direction: rtl;
text-align: right;
}

.print_view .header{
margin-top: 2%;
width:100%
}
.print_view .zero-padding td{
padding-top:0px !important;
padding-bottom:0px !important;
}


.print_view .zero-margin p{
margin-top:0px !important;
margin-bottom:0px !important;

}
.print_view .zero-margin h2{
margin-top:0px !important;
margin-bottom:0px !important;

}

.print_view h2{
  color: black;

}

.print_view p {
  font-size:19px;
  color: black;
  direction: rtl;
}



.print_view .b  {
  font-family: Calibri;
  font-size:13px;
  color: black;
}


.print_view .pf-content{
width:100%
}

.print_view .img-center {margin:0 auto;}
</style>


<div class="print_view" style="border:solid 1px black;border-radius: 8px;">




    <div class="row">

                <div class="col-xs-4" style="margin-top:20px;margin-left: 10%;">
                  <img src="/files/tawari logo -01.png" style="width: 150px;">
                </div>

                <div class="col-xs-4" style="padding: 0px;margin-top:0;">
                        </div>

              <div class="col-xs-4" style="padding: 0px;margin-top:0;font-weight:bold;padding-left:95px;">
                
              </div>
    </div>

<br>


  <div class="row" style="padding-bottom: 25px;">
            <p class="text-center p-title">{{ doc.correspondence_subject }}</p>
            <p class="text-center p-title">{% if doc.destination_type == 'Individual' %}السيد {% else %}السادة {% endif %}/
            {{ doc.destination }}</p>
        </div>



<div class="row letter-block" style="padding: 0 5% 0% 5%;">
            <table width="100%">
                <tr>
                    <td colspan="2"><b>السلام عليكم ورحمة الله وبركاته<b></td>
                </tr>
            </table><br><br>
                {% if doc.indicative %}
                <table>
                <tr>
                    <td style="width: 90%;">{{ doc.indicative }}</td>
                    <td style="width: 11%;display: inline;"><b>: الإشارة</b></td>
                </tr>
                </table><br>
                {% endif %}
                {% if doc.subject %}
                <table>
                <tr>
                    <td style="width: 90%;">{{ doc.subject }}</td>
                    <td style="width: 11%;display: inline;"><b>: الموضوع</b></td>
                </tr>
                </table><br>
                {% endif %}
                {% if doc.testimony %}
                <table>
                <tr>
                    <td style="width: 90%;">{{ doc.testimony }}</td>
                    <td style="width: 11%;display: inline;"><b>: الإفادة</b></td>
                </tr>
                </table><br>
                {% endif %}
                {% if doc.required_action %}
                <table>
                <tr>
                    <td style="width: 90%;">{{ doc.required_action }}</td>
                    <td style="width: 11%;display: inline;"><b>: المطلوب</b></td>
                </tr>
                </table><br>
                {% endif %}
                <table width="100%">
                <tr>
                    <td colspan="2" style="text-align: center;"><b>،،، ولكم تحياتنا<b></td>
                </tr>
                </table>
        </div>
        
        <div class="row" style="text-align: center;">
            <div class="col-lg-3 col-md-3 col-xs-3">
                <h5>{{ doc.employee_name }}</h5>

                {% if doc.signature_type=='Signature' %}
                    {% if doc.speech_signature %}
                        <img src={{doc.speech_signature}}>
                    {% endif %}
                {% else %}
                    {% if doc.speech_img %}
                        <img src={{doc.speech_img}} width="80%">
                    {% endif %}
                {% endif %}


                <h5>{{ doc.speech_date }}</h5>
            </div>
        </div>



</div>
