#page-project-dashboard #morris-stacked-chart-billing{
  min-height: 250px;
}

#page-project-dashboard .panel-title a:after {
    font-family:Fontawesome;
    content:'\f077';
    float:right;
    font-size:10px;
    font-weight:300;
}
#page-project-dashboard .panel-title a.collapsed:after {
    font-family:Fontawesome;
    content:'\f078';
}


#page-project-dashboard .hide_assignments{
    display: none;
}

#page-project-dashboard .hide_finance{
    display: none;
}

#page-project-dashboard .statistic-box.dash2 {
    background-color: #10595f;
    color: #fff;
}
#page-project-dashboard .statistic-box {
    padding: 15px;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}
#page-project-dashboard .statistic-box .statistic_icon, #page-project-dashboard .statistic-box.dash2 .statistic_icon {
    right: auto;
    left: 20px;
}
#page-project-dashboard .statistic-box.dash2 .statistic_icon {
    position: absolute;
    color: #277379;
}
#page-project-dashboard .statistic-box .statistic_icon {
    font-size: 50px;
    margin-top: 10px;
    display: block;
}

#page-project-dashboard .statistic-box.dash2 .small, #page-project-dashboard .statistic-box.dash2 h2 {
    text-align: right;
}
#page-project-dashboard .statistic-box .small {
    font-weight: 600;
    margin-bottom: 5px;
}

#page-project-dashboard .statistic-box.dash2 .small, #page-project-dashboard .statistic-box.dash2 h2 {
    text-align: right;
}
#page-project-dashboard .statistic-box h2 {
    margin: 0;
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 25px;
}	

#page-project-dashboard .panel_chart{
    height: 280px;
    margin-top: -30px;
}





/*---------------------------------*/


@font-face {
    font-family: 'flaticon';
    src:  url('fonts/flaticon.ttf');
    src:  url('fonts/flaticon.eot?4wby9n#iefix') format('embedded-opentype'),
      url('fonts/flaticon.ttf?4wby9n') format('truetype'),
      url('fonts/flaticon.woff?4wby9n') format('woff'),
      url('fonts/flaticon.svg?4wby9n#flaticon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  


#page-project-dashboard {
    background-color: #e9ecef;
}


#page-project-dashboard .hide_assignments{
    display: none;
}



#page-project-dashboard .statistic-box.dash2{
    padding: 20px;
    position: relative;
    background-color: #fff;
    color: #000;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-box-shadow: 0 2px 4px rgba(126,142,177,.12);
    box-shadow: 0 2px 4px rgba(126,142,177,.12);
}


#page-project-dashboard .widget {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#page-project-dashboard .media {
    display: flex;
}



#page-project-dashboard .icon{
    text-align: left;
}

 #page-project-dashboard .icon i {
    padding: 10px;
    font-size: 28px;
    border-radius: 50%;
}

#page-project-dashboard .one i {
    background-color: #b6fff1;
    color: #1abc9c;
}

#page-project-dashboard .two i{

    background-color: #dccff7;
    color: #805dca;

}

#page-project-dashboard .three i{
   
    background-color: #fbccdd;
    color: #f8538d;

}


#page-project-dashboard .one i .fa{
    color: #fff;
}

#page-project-dashboard .flaticon-line-chart:before {
    content: "\e998";
}

#page-project-dashboard .text2{
    text-align: right !important;
}

#page-project-dashboard .statistic-box.dash2 .small, #page-project-dashboard .statistic-box.dash2 h2 {
     text-align: right; 
}

#page-project-dashboard .statistic-box.dash2 .small, #page-project-dashboard .statistic-box.dash2 h2 {
    text-align: right;
}
#page-project-dashboard .panel{
    border: none;
    box-shadow: none;
    text-align: center;
    box-shadow: 0 2px 4px rgba(126,142,177,.12);
}

#page-project-dashboard .page-head{
    background-color: #fff;
    border-bottom:solid 1px #ccc;
}

#page-project-dashboard .layout-main-section {
    border: none;
}

#page-project-dashboard .navbar-default{
    background-color: #10595f;
    border: none;
}

#page-project-dashboard .navbar-default .navbar-nav>li>a {
    color: #fff;
}

#page-project-dashboard .navbar-default{
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(126,142,177,.12);


}

#page-project-dashboard .panel-body{
    box-shadow: 0 2px 4px rgba(126,142,177,.12);


}

#page-project-dashboard .panel-heading{
    box-shadow: 0 2px 4px rgba(126,142,177,.12);
}


#page-project-dashboard table {
    border-collapse: collapse;
    border: none;
}

#page-project-dashboard .table>thead>tr>th {
    color: #10595f;
    font-weight: 600;
}
#page-project-dashboard tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}


#page-project-dashboard .table-bordered>thead>tr>th,
 #page-project-dashboard .table-bordered>tbody>tr>th,
  #page-project-dashboard .table-bordered>tfoot>tr>th,
   #page-project-dashboard .table-bordered>thead>tr>td,
    #page-project-dashboard .table-bordered>tbody>tr>td,
     #page-project-dashboard .table-bordered>tfoot>tr>td {

        
    border: 1px solid #f1f3f1;
}

#page-project-dashboard .table-bordered {
    border: 1px solid #f1f3f1;}

 
    #page-project-dashboard .table-striped>tbody>tr:nth-child(odd)>td, #page-project-dashboard .table-striped>tbody>tr:nth-child(odd)>th {
        background-color: #f2f6f9;
    }

    #page-project-dashboard .ellipsis {
        overflow: visible;
    }
    #page-project-dashboard h1{
        font-size: 28px;
        font-weight: bold;
    }

    #page-project-dashboard .small {
        font-size: 100%!important;
    }


    #page-project-dashboard .panel-heading {
        box-shadow: none;
    }

    #page-project-dashboard h4, .h4 {
        font-size: 18px;
        font-weight: bold;
    }


#page-project-dashboard{
    background-color: #e9ecef;
}


#page-project-dashboard .panel_chart text{
    font-size: 12px!important;
    font-weight: 800!important;
}

